# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# C++
*.o
*.exe
*.out
a.out

# Temporary files
*.tmp
*.temp
/V1/output/*.log

# IDE/Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
